<div class="container">

  <div class="form-group-row">
    <input type="text" name="search" #search>
    <button type="button" (click)="searchHub(search)">Search</button>
  </div>

  <h2>Username: {{user.login}}</h2>
  <img src="{{user.avatar_url}}" alt="">
  <p>Bio: {{user.bio}}</p>
  <p>Repositories: {{user.public_repos}}</p>
  <p>Following: {{user.following}}</p>
  <p>Followers: {{user.followers}}</p>
  <a href="{{user.html_url}}">Go to Github</a>


  <div class="column" *ngFor="let repo of repos">
    <h1>{{repo.name}}</h1>
    <p>{{repo.description}}</p>
    <p>Created on {{repo.created_at|date}}</p>
    <p>{{repo.total_commits}}</p>
  </div>

</div>



<router-outlet></router-outlet>
