<div class="container-fluid">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">gitSearch</a>
    <ul class="navbar-nav mr-auto">

      <li class="nav-item"><a class="nav-link" routerLink='/watu' routerLinkActive='active'>Users</a></li>
      <li class="nav-item"><a class="nav-link" routerLink='/viungu' routerLinkActive='active'>Repositories</a></li>
      
    </ul>
    <span class="navbar-text">Happy searching :)</span>
  </nav>
  <div class="row">
    <div class="jumbotron">
      <div class="title">
        <h1>gitSearch</h1>
      </div>
      <p>This website will help you find Users and Repositories on Github. Just a school project though dont be too excited.</p>
    </div>
  </div>

</div>



<router-outlet></router-outlet>
